:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #39414b;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 25px;
  text-align: center;
}
